@model Models.EntityFrameWork.Product
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listNewProducts = (List<Models.EntityFrameWork.Product>) ViewBag.NewProducts;
    var listFeatureProducts = (List<Models.EntityFrameWork.Product>)ViewBag.ListFeatureProducts;
}

    <div class="title"><span class="title_icon"><img src="/Assets/Client/images/bullet1.gif" alt="" /></span>Sản phẩm đặc trưng</div>
    @foreach (var item in listFeatureProducts)
    {
        var url = "/chi-tiet/" +item.MetaTitle+"/"+item.ProductID;
        <div class="feat_prod_box">
            <div class="prod_img"><a href="@url"><img class="thumb1" src="@item.Image" alt="" border="0" /></a></div>
            <div class="prod_det_box">
                <div class="box_top"></div>
                <div class="box_center">
                    <div class="prod_title">@item.Name</div>
                    <p class="details">@item.Description</p>
                    <a href="@url" class="more">Chi tiết...</a>
                    <div class="clear"></div>
                </div>
                <div class="box_bottom"></div>
            </div>
            <div class="clear"></div>
        </div>
    }
   
   
    <div class="title"><span class="title_icon"><img src="/Assets/Client/images/bullet2.gif" alt="" /></span>Sản phẩm mới</div>
    <div class="see">
    </div>
    <div class="new_products">
        @foreach (var item in listNewProducts)
        {
            var url = "/chi-tiet/" +item.MetaTitle+"/"+item.ProductID;
            <div class="new_prod_box">
               <a href="@url">@item.Name</a>
                <a>@string.Format("{0:0,0 VNĐ}",item.Price).Replace(",",".")</a>
                <div class="new_prod_bg"> <span class="new_icon"><img src="/Assets/Client/images/new_icon.gif" alt=""/></span> <a href="@url"><img src="@item.Image" alt="" class="thumb" border="0" /></a>                  
                </div>
            </div>
        } 
    </div>
<div class="clear"></div>
